body {
background-image: url("..Media/LightBlue.jpg");

}
#page-wrapper {
	width: 890px;
	box-shadow: rgba(255,165,0);
	border-radius: 12px 12px 0px 0px;
}
	

#caption {
	color: blue;
}
	
#main-content {
	background-color: yellow;
	font-size: 2em%;
}

ul {
	height: 60px;
}

li {
	background-color: orange;
	font-size: 1em%;
}

h2 strong{
	font-size: 2em;
	font-weight: 800;
}

#content-wrapper {
  background-image: url("..Media/Blue background.jpg");
  float: left;
}

#main-nav ul li a:hover {
  background-color: #ccc;
  color: #333;
}

#center {
  width: 960px;
  text-align: center;
}

strong {
	font-weight: 100;
	font-size: 30px;
}
