body {
background-image: url("..Media/LightBlue.jpg");

}

#caption {
	color: blue;
}
	
#main-content {
	background-color: yellow;
	font-size: 2em%;
}

ul {
	height: 60px;
}

li {
	background-color: green;
	font-size: 1em%;
}

h2 strong{
	font-size: 2em;
	font-weight: 800;
}

#content-wrapper {
  background-image: url("..Media/Blue background.jpg");
  float: left;
}
	
strong {
	font-weight: 900;
	font-size: 48px;
}
